* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000000;
}

.header {
  height: 56px;
  background: rgba(0, 0, 0, 0.79);
  border-bottom: 1px solid #333333;
  backdrop-filter: blur(148px);
  -webkit-backdrop-filter: blur(148px);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: -webkit-sticky;

  position: sticky;
  top: 0;
  left: 0;
}

.text-container {
  padding: 36px 16px;
  background-color: #0a0a0a;
}

.text-container .text-content {
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.gradient-text-effect {
  font-weight: 500;
  background: -webkit-linear-gradient(359.84deg, #00aeef 33.2%, #f9ed32 67.95%);
  background: linear-gradient(90.16deg, #00aeef 33.2%, #f9ed32 67.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-info-container,
.s-info-container,
.address-container,
.reg-link-container,
.footer {
  padding: 12px 16px;
}

.p-info-placeholder,
.s-info-placeholder,
.address-placeholder {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 2px;
  color: #6f6f6f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-info-main {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}

.p-info-main-avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-info-main-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.p-info-main-bio {
  margin-top: -8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #818181;
}

.p-info-details,
.s-info-details {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

.p-info-details-box,
.p-info-details-box:visited,
.p-info-details-box:link,
.s-info-details-box,
.s-info-details-box:visited,
.s-info-details-box:link {
  text-decoration: none;
  padding: 8px 16px;
  width: 90vw;
  height: 56px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.p-info-details-box {
  background-color: #1b1b1b;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.p-info-details-box:hover {
  background-color: #202020;
}

.p-info-details-box-label {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #cccccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-info-details-box-data {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #2697ff;
  text-decoration: none;
}

.s-info-details-box-data {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #e1e1e1;
  text-decoration: none;
}

.s-info-details-box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.s-info-details-box:hover {
  opacity: 0.7;
}

.s-info-details-box:nth-child(1) {
  background-color: #673535b7;
}

.s-info-details-box:nth-child(2) {
  background-color: #35496db7;
}

.s-info-details-box:nth-child(3) {
  background-color: #3a7075b7;
}

.s-info-details-box:nth-child(4) {
  background-color: #2b5276b7;
}

.s-info-details-box:nth-child(5) {
  background-color: #86703db7;
}

.address-detail-box {
  border-radius: 8px;
  margin: 16px 0;
  background-color: #0e0e0e;
  padding: 24px 48px;
}

.address-content {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 400;
  font-style: oblique;
  text-transform: capitalize;
  line-height: 155%;
  text-align: center;
}

.reg-link-container {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reg-link-title {
  font-size: 32px;
  color: #fdff92;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  text-transform: uppercase;
}

.reg-link {
  text-decoration: none;
  padding: 8px 16px;
  width: 60vw;
  height: 56px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #124355;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.reg-link:hover {
  background-color: #0b2a35;
}

.footer-dev-details,
.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dev-logo {
  width: 56px;
  height: 56px;
}

.dev-title {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  color: #acacac;
  line-height: 155%;
}

.copyright-content {
  margin: 48px 0;
  font-size: 12px;
  color: #8c8c8c;
  font-weight: 300;
  text-align: center;
  line-height: 155%;
}
